body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

/* 3. Make sure that the two buttons have some space between
each other when they are rendered out vertically */
button {
    display: block;
    margin: 5px auto;
    color: #01652e;
    background-color: goldenrod;
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-weight: bolder;
    border: none;
    border-radius: 3px;
}